<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Persons</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2>Persons:</h2>
        <table class="table caption-top">
            <caption>List of users</caption>
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person : ${people}">
                <th scope="row" th:text="${person.getId()}">id</th>
                <td><a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getName()}">name</a></td>
                <td th:text="${person.getAge()}">age</td>
                <td th:text="${person.getGenderName()}">gender</td>
                <td th:text="${person.getEmail()}">email</td>
            </tr>
            </tbody>
        </table>

        <br/>
        <br/>
        <a href="/people/new" class="btn btn-primary">Add new person</a>
    </div>
</body>

</html>